* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.itemMain {
    flex:  1
}